<!--Meta Tags-->
<Title>@PageTitle</Title>
<Meta Name="description" Content="@description" />
<!--Social: Twitter-->
<Meta Name="twitter:card" Content="summary" />
<Meta Name="twitter:url" Content="@PageUrl" />
<Meta Name="twitter:title" Content="@PageTitle" />
<Meta Name="twitter:description" Content="@description" />
<!--Social: Facebook(OpenGraph)-->
<Meta Property="og:type" Content="blog" />
<Meta Property="og:url" Content="@PageUrl" />
<Meta Property="og:title" Content="@PageTitle" />
<Meta Property="og:description" Content="@description" />
<!--Favicon-->
<Link Rel="shortcut icon" Href="favicon.ico" />
<Link Rel="icon" Href="favicon.ico" />

@code {
    private static string root = "https://Kyurenpoto.github.io/blog";
    private static string baseTitle = "어떤 프로그래머의 비망록";

    [Parameter]
    public string route { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string description { get; set; }

    private string PageTitle { get { return title + baseTitle; } }
    private string PageUrl { get { return root + route; } }
}
